    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>首页</title>

    <!-- Bootstrap -->
    <link href="${rc.contextPath}/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="${rc.contextPath}/css/fonts/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="${rc.contextPath}/css/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="${rc.contextPath}/css/iCheck/skins/flat/green.css" rel="stylesheet">
	
    <!-- bootstrap-progressbar -->
    <link href="${rc.contextPath}/css/progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="${rc.contextPath}/css/jqvmap/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="${rc.contextPath}/css/daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="${rc.contextPath}/css/custom/custom.min.css" rel="stylesheet">
